---
extends: default

rules:
  document-start:
    present: true
  line-length:
    max: 120
    allow-non-breakable-words: true
  truthy:
    check-keys: false   # GitHub Actions uses the `on:` key
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1

ignore: |
  build/
  install/
  log/
